
<!-- Default bg white 
    Edit bg-green-3
--> 
<nav class="fixed-top navbar navbar-light navbar-expand moodle-has-zindex bg-green-3" aria-label="{{#str}}sitemenubar, admin{{/str}}">

        <!-- MENU BUTTON -->
        <div data-region="drawer-toggle" class="d-inline-block mr-3">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn nav-link float-sm-left mr-1 btn-light bg-gray" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
        </div>
        <!-- LOGO OR STITE NAME-->
    <!--
        <a href="{{{ config.wwwroot }}}" class="navbar-brand {{# output.should_display_navbar_logo }}has-logo{{/ output.should_display_navbar_logo }}
            {{^ output.should_display_navbar_logo }}
                d-none d-sm-inline
            {{/ output.should_display_navbar_logo }}
                ">
            {{# output.should_display_navbar_logo }}
                <span class="logo d-none d-sm-inline">
                    <img src="{{output.get_compact_logo_url}}" alt="{{sitename}}">
                </span>
            {{/ output.should_display_navbar_logo }}
            <span class="site-name d-none d-md-inline">{{{ sitename }}}</span>
        </a>
    -->
    <!-- LOGO --> 
        <a href={{{config.wwwroot}}}> 
        <span class="logo d-none d-sm-inline">
        <img src="{{{config.wwwroot}}}/theme/canary/pix/logo.png">
        </span>
        
        </a>
        <ul class="navbar-nav d-none d-md-flex">
            <!-- custom_menu -->
            {{{ output.custom_menu }}}
            <!-- page_heading_menu -->
            {{{ output.page_heading_menu }}}
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="d-none d-lg-block">
                {{{ output.search_box }}}
            </li>
            <!-- navbar_plugin_output -->
            <li class="nav-item">
                {{{ output.navbar_plugin_output }}}
            </li>
            <!-- user_menu -->
            <li class="nav-item d-flex align-items-center">
                {{{ output.user_menu }}}
            </li>
        </ul>
        <!-- search_box -->
</nav>

